html, body {
  font-family: '微软雅黑', 'Microsoft YAHEI';
}

.my-cnt {
  margin-top: 20px;
}

.my-cnt .row {
  margin-bottom: 20px;
}

#err_modal .modal-content {
  z-index: 10;
}
#err_modal .close {
  margin-top: 5px;
  margin-right: 10px;
}
#err_modal .modal-body {
  padding: 30px;
  font-size: 20px;
  z-index: -1;
}