<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/res/lib/bootstrap-3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/res/lib/bootstrap-3.3.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/src/css/blog.css">
</head>
<body>
	<!-- begin navigator -->
	<nav class="navbar navbar-inverse" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">express_blog</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <button id="add" type="button" class="btn btn-primary navbar-btn navbar-left">创建博客</button>
	      <button id="logout" type="button" class="btn btn-default navbar-btn navbar-right">登出</button>
	    </div>
	  </div>
	</nav>
	<!-- end navigator -->

	<div class="container">
		<!-- begin title -->
		<div class="row">
			<div class="col-md-12 panel panel-default">
			  <div class="panel-body">
			  	<h2><%= blog.title %></h2>
			  	<div class="my-btn_cnt">
				  	<a href="/edit/<%= blog.id %>"><span class="glyphicon glyphicon-edit"></span></a>
						<a href="/api/del?id=<%= blog.id %>"><span class="glyphicon glyphicon-remove-sign"></span></a>
			  	</div>
			  </div>
			</div>
		</div>
		<!-- end title -->

		<!-- begin content -->
		<div class="row">
			<div class="col-md-12 panel panel-default">
				<div class="panel-body my-content_cnt">
			    <%- blog.content %>
			  </div>
			</div>
		</div>
		<!-- end content -->

		<!-- begin btns -->
		<div class="row">
			<div class="col-md-2">
				<button id="back" type="button" class="btn btn-block btn-lg btn-default">返回</button>
			</div>
		</div>
		<!-- end btns -->
	</div>

	<script type="text/javascript" src="/res/lib/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/res/lib/bootstrap-3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/src/javascript/blog.js"></script>
</body>
</html>