<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>edit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/res/lib/bootstrap-3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/res/lib/bootstrap-3.3.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/res/lib/summernote-0.8.2/summernote.css">
	<link rel="stylesheet" type="text/css" href="/src/css/edit.css">
</head>
<body>
	<!-- begin navigator -->
	<nav class="navbar navbar-inverse" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">express_blog</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <button id="logout" type="button" class="btn btn-default navbar-btn navbar-right">登出</button>
	    </div>
	  </div>
	</nav>
	<!-- end navigator -->

	<div class="container my-cnt">
		<!-- begin title -->
		<div class="row">
			<div class="col-md-12">
				<input id="title" type="text" class="form-control input-lg" placeholder="请输入标题" value="<% if(blog.title) { %><%= blog.title %><% } %>">
			</div>
		</div>
		<!-- end title -->

		<!-- begin editor -->
		<div class="row">
			<div class="col-md-12">
				<div id="summernote"></div>
			</div>
		</div>
		<!-- end editor -->

		<!-- begin btns -->
		<div class="row">
			<div class="col-md-2">
				<button id="submit" type="button" class="btn btn-block btn-lg btn-primary">提交</button>
			</div>
			<div class="col-md-2">
				<button id="cancel" type="button" class="btn btn-block btn-lg btn-default">取消</button>
			</div>
		</div>
		<!-- end btns -->

	</div>

	<!-- begin error modal  -->
	<div id="err_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <div class="modal-body">保存失败</div>
      </div>
	  </div>
	</div>
	<!-- end error modal -->

	<script type="text/javascript">
		window._content = '';
		window._id = '';
		<% if(blog.id) { %>
			window._content = '<%- blog.content %>';
			window._id = '<%= blog.id %>';
		<% } %>
	</script>
	<script type="text/javascript" src="/res/lib/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/res/lib/bootstrap-3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/res/lib/summernote-0.8.2/summernote.min.js"></script>
	<script type="text/javascript" src="/src/javascript/edit.js"></script>
</body>
</html>