<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>blog list</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/res/lib/bootstrap-3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/res/lib/bootstrap-3.3.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/src/css/index.css">
</head>
<body>
	<!-- begin navigator -->
	<nav class="navbar navbar-inverse" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">express_blog</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <button id="add" type="button" class="btn btn-primary navbar-btn navbar-right">创建博客</button>
	    </div>
	  </div>
	</nav>
	<!-- end navigator -->

	<div class="container">
		<div class="row">
			<!-- begin bloglist panel -->
			<div class="col-md-12 panel panel-default">
				<div class="panel-body">

					<!-- begin bloglist -->
					<ul class="list-group my-list_group">
					  <li href="#" class="list-group-item">
					  	<span class="my-blog_title">Cras justo odio</span>
					  	<span class="glyphicon glyphicon-edit"></span>
					  	<span class="glyphicon glyphicon-remove-sign"></span>
					  </li>
					  <li href="#" class="list-group-item">
					  	<span>Dapibus ac facilisis in</span>
					  </li>
					  <li href="#" class="list-group-item">
					  	<span>Morbi leo risus</span>
					  </li>
					  <li href="#" class="list-group-item">
					  	<span>Porta ac consectetur ac</span>
					  </li>
					  <li href="#" class="list-group-item">
					  	<span>Vestibulum at eros</span>
					  </li>
					</ul>
					<!-- end bloglist -->

				</div>
			</div>
			<!-- end bloglist panel -->
		</div>
	</div>	

	<script type="text/javascript" src="/res/lib/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/res/lib/bootstrap-3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/src/javascript/index.js"></script>
</body>
</html>