<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>blog list</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/res/lib/bootstrap-3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/res/lib/bootstrap-3.3.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/src/css/index.css">
</head>
<body>
	<!-- begin navigator -->
	<nav class="navbar navbar-inverse" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">express_blog</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <button id="add" type="button" class="btn btn-primary navbar-btn navbar-left">创建博客</button>
	      <button id="logout" type="button" class="btn btn-default navbar-btn navbar-right">登出</button>
	    </div>
	  </div>
	</nav>
	<!-- end navigator -->

	<div class="container">
		<div class="row">
			<!-- begin bloglist panel -->
			<div class="col-md-12 panel panel-default">
				<div class="panel-body">

					<!-- begin bloglist -->
						<% if(!blogs.length) { %>
						<div class="my-no_data">暂无数据</div>
						<% } else { %>
						<ul class="list-group my-list_group">
							<% blogs.forEach(function(blog) { %>
						  <li class="list-group-item">
						  	<a href="/blog/<%= blog.id %>"><span class="my-blog_title"><%= blog.title %></span></a>
						  	<% if(blog.username === username) { %>
						  	<a href="/edit/<%= blog.id %>"><span class="glyphicon glyphicon-edit"></span></a>
						  	<a href="/api/del?id=<%= blog.id %>"><span class="glyphicon glyphicon-remove-sign"></span></a>
						  	<% } %>
						  </li>
						  <% }); %>
						</ul>
					  <% } %>
					<!-- end bloglist -->

				</div>
			</div>
			<!-- end bloglist panel -->
		</div>
	</div>	

	<script type="text/javascript" src="/res/lib/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/res/lib/bootstrap-3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/src/javascript/index.js"></script>
</body>
</html>